a:link  {text-decoration: none}
a:visited {text-decoration: none}
a:hover   {text-decoration: none}
a:active  {text-decoration: none}

html, body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	border: 0;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#menu {
	position: fixed;
	width: 100%;
	opacity: 0.6;
	background: grey;
	padding: 2px;
}


h1 { 
	display: table-cell;
	text-align: center;
	font-family: helvetica;
	font-size: 700%;
	color: #EDBD3E;
	vertical-align: middle;
}
h2 {
	font-family: helvetica;
	text-align: center;
	font-size: 400%;
	margin: 0;
	padding: 5%;
}

h3 {
	font-family: Verdana;
	font-size: 200%;
	text-align: center;
}
.althead {
	background: #EDBD3E;
}
.mainhead {
	background: white;
}

.main {
    min-height: 80%;
	position: relative;
	width: 100%;
	padding: 20px;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display: table;
}
.alternate {
	min-height: 80%;
	position: relative;
	width: 100%;
	background: #EDBD3E;
	padding: 20px;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display: table;
}

p {
	font-size: 20px;
}
p.footnote {
	text-align: right;
	font-family: sans-serif;
	padding: 5px;
}
p.header {
	float: left;
	font-family: helvetica;
	padding-left: 9%;
	padding-right: 9%;
	color: #EDBD3E;
}
